.FinalProj--Background {
    position: absolute;
    background-color: #0B2434;
    background-size: cover;
    width: 98.89%;
}

.FinalProj--App {
    background: #F5F5F5;
    border-radius: 10px;
    padding: 10px 10px;
    margin: 10px 10px;
    text-align: center;
}

.FinalProj--App--Title {
    font-family: 'Gill Sans';
    font-style: normal;
    color: #2B283A;
    margin-bottom: 0;
}

.FinalProj--App--Rules {
    font-family: 'Inter';
    font-style: normal;
    color: #4A4E74;
    margin-top: 0;
}

.FinalProj--ParticularDice {
    width: 120px;
    height: 120px;
    margin: 60px 60px;
}

.FinalProj--GameEnteringQ--InputBar {
    margin: 20px;
}

.FinalProj--Button {
    background: #5035FF;
    box-shadow: 0px 3.2px 7.68px rgba(0, 0, 0, 0.18);
    border-radius: 3.81277px;
    height: 30px;
    margin-top: 10px;
    color: white;
}