.FirstProjMain--Dark {
    padding: 57px 27px;
    color: black;
    background-image:  url("../pagestyle/img/react_back_light.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.FirstProjMain--Light {
    padding: 57px 27px;
    background-color: white;
    background-image: url("../pagestyle/img/react_back_light.png");
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.main--title {
    margin: 0;
    font-size: 39px;
    letter-spacing: -0.05em;
}

.maim--facts {
    margin-top: 46px;
    max-width: 400px;
}

.main--facts > li {
    line-height: 19px;
    padding-block: 10px;
}

.main--facts > li::marker {
    font-size: 1.4rem;
    color: #61DAFB;
}
